/*Main part of the website content(do not deleted)*/
#image-size{
    width:100%;
    height: auto;
}

.article-border{
    border: 2px solid black;
    border-radius: 5px;
    margin: 0px 0px 0px 5px;
    padding-bottom: 20px;
}
body{
background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}

header{
    background-color: white;
    padding:20px 200px 0px 200px;
    border: 2px solid white;
    border-radius: 5px;
}

/*Footer section*/
footer{
    background-color: black;
    color:white;
    border: 2px solid white;
    border-radius: 5px;
}

.text-position{
    text-align: center;
    padding-top:
}

#footer-list ul{
   display:flex;
   justify-content:space-evenly;
   flex-direction: row;
}

#footer-list li{
  list-style-type: none;
}

#footer-list a{
    text-decoration: none;
    color: white;
}

article{
    background-color: white;
}
/*This is for the position of the first Item*/
#div-1{
   width: 73%;
   height: 20%;
   position: relative;
   left:17%;
   overflow: hidden;
   margin-bottom: 20px;
}

/*This part is mainly for item 2 and 3*/

#row-side{
   width:73%;
   display: flex;
   position: relative;
   left: 17%;
   padding: 0px 0px 0px -10px;
}

.content-size{
    width: 60%;
   
}

.image-size-2{
    width:100%;
    
}
#paragraph-3{
    margin-bottom: 102px;
}
/*This for the read more button do not deleted*/
.Link-box-border{
    border: 2px solid black;
    margin: 0px 10px 0px 5px;
    padding: 10px 10px 10px 10px;
}

p{
    margin: 0px 0px 30px 5px;
}


/*For heading styling*/
h2{
    margin-bottom: 5px;
}

h1{
    text-align: center;
}